// ================================================================================================
//     File Name: coming-soon.scss
//     Description: Coming Soon pages custom scss
//     ----------------------------------------------------------------------------------------------
//     Item Name: Bicrypto - Crypto Trading Platform
//     Author: MashDiv
//     Author URL: http://www.themeforest.net/user/mashdiv
// ================================================================================================

/*========== Coming Soon Background Image =========*/

.clockCard {
  float: left;
}

.getting-started {
  font-size: 3rem;
}
.lead {
  font-size: 1rem;
}
