/*================================================================================
	Item Name: Bicrypto - Crypto Trading Platform
	Version: 1.0.0
	Author: MashDiv
	Author URL: http://www.themeforest.net/user/mashdiv
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
